In [94]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
# for dirname, _, filenames in os.walk('/kaggle/input'):
#     for filename in filenames:
#         print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [118]:
in_file_path = '/kaggle/input/netorike/'

out_file_path = '/kaggle/working/'

In [173]:
def unlabeling(file_name):
    dataline = pd.DataFrame(columns = ['label', 'txt'])
    
    f = open(file_name, 'r', encoding = 'euc_kr')
    while True:
        line = f.readline()
        if not line: break

        line = line.strip()

        res = line.split(sep='.' ,maxsplit=1)
        if (len(res) == 2) and (res[0][0] != '['):
            df_line = pd.DataFrame([res], columns = ['label', 'txt'])
            dataline = pd.concat([dataline, df_line], ignore_index = True)

    f.close()
    
    return dataline

In [174]:
unlabeling(in_file_path+'10.txt')

    label                                                txt
0     418               영희는 학생이다. 그런데 이러한 학생은 공부를 열심히 해야 한다.
1     418                 영희는 학생이다. 그런데 이 학생은 공부를 열심히 해야 한다.
2     418                   영희는 학생이다. 그런데 학생은 공부를 열심히 해야 한다.
3     419     영희는 미혼이다. 그런데 이러한 미혼은 결혼에 대하여 관심과 부담을 동시에 느낀다.
4     419       영희는 미혼이다. 그런데 이 미혼은 결혼에 대하여 관심과 부담을 동시에 느낀다.
..    ...                                                ...
660  1306   이것은 멍게이다. 그런데 이 멍게는 현재 대한민국에서 우렁쉥이라고도 하는 멍겟과의...
661  1306   이것은 멍게이다. 그런데 멍게는 현재 대한민국에서 우렁쉥이라고도 하는 멍겟과의 원...
662  1307   이것은 광어이다. 그런데 이러한 광어는 현재 대한민국에서 넙치라고도 하는 넙칫과의...
663  1307   이것은 광어이다. 그런데 이 광어는 현재 대한민국에서 넙치라고도 하는 넙칫과의 바...
664  1307   이것은 광어이다. 그런데 광어는 현재 대한민국에서 넙치라고도 하는 넙칫과의 바닷물...

[665 rows x 2 columns]

In [175]:
# netorike directory 내부의 txt파일들을 [label, 문장] 형식의 dataframe형식으로 처리

datas = pd.DataFrame(columns = ['label', 'txt'])
    
for dirname, _, filenames in os.walk(in_file_path):
    # - sort the order of files which are in the directory.
    #   - not dictionary order, but numbering order
    #      - (ex. 10, 20, 30, 100, 180, ... // not like 10, 100, 180, 20, 30, ...)
    
    file_tuple = zip( list(map(int,[sen[:-4] for sen in filenames])), filenames ) 
    for num, filename in sorted(file_tuple, key = lambda x : x[0]):
        print(filename)
        file = os.path.join(dirname, filename)
        
        # 각 파일 unlabling 함수에 넣고 datas에 합쳐줌
        datas = pd.concat([datas, unlabeling(file)], ignore_index = True)

10.txt
20.txt
30.txt
40.txt
51.txt
52.txt
53.txt
54.txt
61.txt
62.txt
63.txt
64.txt
65.txt
71.txt
72.txt
73.txt
74.txt
81.txt
82.txt
83.txt
84.txt
90.txt
100.txt
110.txt
120.txt
130.txt
140.txt
150.txt
160.txt
170.txt
180.txt

In [177]:
# datas

     label                                                txt
0      418               영희는 학생이다. 그런데 이러한 학생은 공부를 열심히 해야 한다.
1      418                 영희는 학생이다. 그런데 이 학생은 공부를 열심히 해야 한다.
2      418                   영희는 학생이다. 그런데 학생은 공부를 열심히 해야 한다.
3      419     영희는 미혼이다. 그런데 이러한 미혼은 결혼에 대하여 관심과 부담을 동시에 느낀다.
4      419       영희는 미혼이다. 그런데 이 미혼은 결혼에 대하여 관심과 부담을 동시에 느낀다.
...    ...                                                ...
9352   118   초상권은 일반적으로 얼굴 및 기타 사회 통념상 특정인임을 식별할 수 있는 신체적 ...
9353   118   초상권은 일반적으로 얼굴 및 기타 사회 통념상 특정인임을 식별할 수 있는 신체적 ...
9354   118   언론에 의하여 초상권이 침해를 받는 경우를 기준에 따라 나눈 것이 언론에 의한 초...
9355   118   언론에 의하여 초상권이 침해를 받는 경우를 기준에 따라 나눈 것이 언론에 의한 초...
9356   118   언론에 의하여 초상권이 침해를 받는 경우를 기준에 따라 나눈 것이 언론에 의한 초...

[9357 rows x 2 columns]

> **label 쓸 일이 있다면 datas 라는 dataframe에 저장해놨으니 쓰시면 됨**

In [179]:
# write 'datas' to 'output_datas.txt'

output_file_name = out_file_path+'output_datas.txt'

f = open(output_file_name, 'w')
# datas의 sentence만 사용
for row in datas['txt']:
    sentence = row+"\n"
    f.write(sentence)
f.close()